{%extends 'test/base.html'%}

{%block content%}
{%load static%}
<div class="d-flex align-items-center justify-content-center pt-5">
    <div class = "row">
        <div class="jumbotron jumbotron-fluid d-none d-lg-block">
            <div class="container">
                <h1 class="display-4 bg">Hello World!</h1>
                <p class="lead">Welcome to DaviumSHC (Student History Checker)! </p>
                <p> 
                    This website is designed to track and record student violations. DaviumSHC offers educators, CFCs, and other authorized users the ability to efficiently access, update, and manage student data. With the convenience of online accessibility, it eradicates the demands for traditional paper-based methods, promoting more accurate, organized, and up-to-date data management. Beyond that, this system paves the way for lightening administrative workloads while aligning with the demands of technological advancement.
                </p>
            </div>
          </div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/home/">
                <div class="card border-dark mb-3 mx-auto pt-1 d-block" style="width: 15rem;">
                    <div class="card-img-top">
                        <img src="{% static '/home.png' %}" width="120" height="120" class="mx-auto d-block">
                    </div>
                    <hr>

                    <div class="card-body text-dark">
                        <h5 class="card-title">Home</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/students/">
                <div class="card border-dark mb-3 pt-1 mx-auto d-block" style="width: 15rem;">
                    <div class="card-img-top">
                        <img src="{% static '/people.png' %}" width="120" height="120" class="mx-auto d-block">
                    </div>
                    <hr>

                    <div class="card-body text-dark">
                        <h5 class="card-title">View Students</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/violations/">
                <div class="card border-dark mb-3 pt-1 mx-auto d-block" style="width: 15rem;">
                    <div class="card-img-top">
                        <img src="{% static '/book.png' %}" width="120" height="120" class="mx-auto d-block">
                    </div>
                    <hr>

                    <div class="card-body text-dark">
                        <h5 class="card-title">View Violations</h5>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/handbook/">
                <div class="card border-dark mb-3 pt-1 mx-auto d-block" style="width: 15rem;">
                    <div class="card-img-top">
                        <img src="{% static '/handbook.png' %}" width="120" height="120" class="mx-auto d-block">
                    </div>
                    <hr>
                    <div class="card-body text-dark">
                        <h5 class="card-title">View Handbook</h5>
                    </div>
                </div>
            </a>
        </div>
        {%if user.is_authenticated%}
        <div class="col">
            <a href="/accounts/logout/">
                <div class="card border-dark mb-3 pt-1 mx-auto d-block" style="width: 15rem;">
                    <div class="card-img-top">
                        <img src="{% static '/logout.png' %}" width="120" height="120" class="mx-auto d-block">
                    </div>
                    <hr>
    
                    <div class="card-body text-dark">
                        <h5 class="card-title">Logout</h5>
                    </div>
                </div>
            </a>
        </div>
        {%else%}
        <div class="col">
            <a href="/accounts/login/">
                <div class="card border-dark mb-3 pt-1 mx-auto d-block" style="width: 15rem;">
                    <div class="card-img-top">
                        <img src="{% static '/login.png' %}" width="120" height="120" class="mx-auto d-block">
                    </div>
                    <hr>
    
                    <div class="card-body text-dark">
                        <h5 class="card-title">Login</h5>
                    </div>
                </div>
            </a>
        </div>
        {%endif%}
    </div>
</div>
{% comment %} {%if user.is_authenticated%}
<div class="row">
    <div class="col">
        <a href="/accounts/logout/">
            <div class="card border-dark mb-3 pt-1 mx-auto d-block" style="width: 15rem;">
                <div class="card-img-top">
                    <img src="{% static '/logout.png' %}" width="120" height="120" class="mx-auto d-block">
                </div>
                <hr>

                <div class="card-body text-dark">
                    <h5 class="card-title">Logout</h5>
                </div>
            </div>
        </a>
    </div>
</div>
{%else%}
<div class="row"></div>
    <div class="col">
        <a href="/accounts/login/">
            <div class="card border-dark mb-3 pt-1 mx-auto d-block" style="width: 15rem;">
                <div class="card-img-top">
                    <img src="{% static '/login.png' %}" width="120" height="120" class="mx-auto d-block">
                </div>
                <hr>

                <div class="card-body text-dark">
                    <h5 class="card-title">Login</h5>
                </div>
            </div>
        </a>
    </div>
</div> {% endcomment %}
{% comment %} {%endif%} {% endcomment %}

{%endblock%}