{%extends 'test/base.html'%}

{% block content %}
<h1> Violation Directory </h1>
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
    {% if major %}
        <div class='row'>
            <div class='col-10'>
                <h3>Major Violations</h3>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStudentMajorViolationModal">
                    Add Major Violation
                </button>
            </div>
        </div>


        <!-- this should show a modal instead of going to the other page. reload page after. -->
        <!-- <a class="btn btn-primary" href="/add-student"> Add Student</a>  -->
        <table id="major_violations" class="table table-striped table-bordered " style="table-layout: fixed;" cellspacing="0" cellpadding="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center" rowspan="1"> Title </th>

                </tr>
            </thead>
            <tbody>
                {%for violation in major%}
                    <tr data-id ="{{ violation.id }}">
                        <td class="text-center"> {{violation.violation.title}} </td>
                    </tr
                {%endfor%}
            </tbody>
        </table>
        <script>
            $(document).ready(function() {
                if ($('#major_violations').length) {
                    $('#major_violations').DataTable({
                        responsive: true,
                        paging: true,
                        searching: true,
                        ordering: true
                    });
                }
            });
        </script>
    {%else%}
        <h3>Major Violations</h3>
         <div class="container d-flex flex-column justify-content-center align-items-center align-self-center">
            <h1 class="align-self-center"> No Major Violations</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStudentMajorViolationModal">
                Add Major Violation
            </button>
        </div> 
    {%endif%}
</div>
<div class="container shadow-lg p-3 mb-5 bg-white rounded">
    {% if minor %}
        <div class='row'>
            <div class='col-10'>
                <h3>Minor Violations</h3>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStudentMinorViolationModal">
                    Add Minor Violation
                </button>
            </div>
        </div>
        <!-- this should show a modal instead of going to the other page. reload page after. -->
        <!-- <a class="btn btn-primary" href="/add-student"> Add Student</a>  -->
        <table id="minor_violations"class="table table-striped table-bordered " style="table-layout: fixed;" cellspacing="0" cellpadding="0" width="100%">
            <thead>
                <tr>
                    <th class="text-center" rowspan="1"> Title </t
                </tr>
            </thead>
            <tbody>
                {%for violation in minor%}
                    <tr data-id ="{{ violation.id }}">
                        <td class="text-center"> {{violation.violation.title}} </td>
                    </tr>
                {%endfor%}
            </tbody>
        </table>
        <script>
            $(document).ready(function() {
                if ($('#minor_violations').length) {
                    $('#minor_violations').DataTable({
                        responsive: true,
                        paging: true,
                        searching: true,
                        ordering: true
                    });
                }
            });
        </script>
    {%else%}
        <h3>Minor Violations</h3>
         <div class="container d-flex flex-column justify-content-center align-items-center align-self-center">
            <h1 class="align-self-center"> No Minor Violations</h1>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addStudentMinorViolationModal">
                Add Minor Violation
            </button>
        </div> 
    {%endif%}
</div>

{% comment %} add the modal here {% endcomment %}
<!-- MODAL PART -->
<div class="modal fade" id="addStudentMajorViolationModal" tabindex="-1" role="dialog" aria-labelledby="addStudentMajorViolationModal" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addStudentMajorViolationModalTitle"> Add Major Violation </h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/add-violation/" method="post" class="from-group" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="violation_class" value="Major">
                {{ form|crispy }}
                <input type="file" name="files" multiple>  <!-- Enable multiple file upload -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add Violation</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>

<div class="modal fade" id="addStudentMinorViolationModal" tabindex="-1" role="dialog" aria-labelledby="addStudentMinorViolationModal" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="addStudentMinorViolationModalTitle"> Add Minor Violation </h5>
            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/add-violation/" method="post" class="from-group" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="violation_class" value="Minor">
                {{ form|crispy }}
                <input type="file" name="files" multiple>  <!-- Enable multiple file upload -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Add Violation Record</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock  %}