{% extends "test/base.html" %}
{% block title %}
Login Here
{% endblock %}

{% block content %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="min-height: 50vh">
	<div class="shadow p-3 mx-auto bg-white rounded">
		<div class="col">
			<form method="post" class="form-group" id='login-form'>
			{% csrf_token %}
            {{form|crispy}}
			<button type="submit" class="btn btn-success">Login</button>	
			</form>
		</div>
        <small class="form-text text-muted pt-5">Please contact your administrator for access credentials.</small>

	</div>
</div>
{% endblock  %}